<!doctype html>
<html>
  <head>
    <title>Apache or httpd is running </title>
  </head
>
  <body>
	  <p><strong>Greetings</strong>........Apache is running in {{ inventory_hostname }}  VM servers. <strong>THANKS...</strong> </p>
	  <p><strong>info: </strong> {{ ansible_default_ipv4['address']}} </p>
  </body>
</html>

